server {
    server_name nginx.naumov.company;

    location / {
        proxy_pass http://localhost:8080/;
    }

    auth_basic "nginxui secured";
    auth_basic_user_file /etc/apache2/.htpasswd;

    # [...] ommited ssl configuration
}
